# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Виртуальное окружение
.venv/

# Кадры
data/captured_frames/*
# Архивы
*.zip

# Модели PyTorch и YOLO (большие файлы)
*.pt
*.pt2
*.pth
*.onnx
*.weights

# VSCode
.vscode/*

# Логи
**.log

# Обучение YOLO
yolo-trainer/datasets/*
yolo-trainer/runs/* 

# Калибровка
Calibration/data/*

# K-ROSET
Robot/KROSET/ALKU/temporary/**/*.txt
DatasetGrabber/images/**/*