# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Виртуальное окружение
.venv/

# Кадры
data/captured_frames/*
data/models/*
# Архивы
*.zip

# VSCode
.vscode/*

# Логи
**.log

# Обучение YOLO
yolo-trainer/datasets/*
yolo-trainer/runs/* 